body{
    background-color: #ecf0f1;
    color: white;
}
.container{
    padding: 17% 0;
    text-align: center;
}

div.clock h1{
    font-size: 5rem;
    margin-bottom: 0.5rem;
}

.form,
.greetings{
    display: none;
}

.showing {
    display: block;
    font-size: 3rem;
    margin-top: .5rem;
    margin-bottom: .8rem;
}

.toDoList {
    display: inline-block;
    padding-left: 30px;
    text-align: left;
}

.toDoList li button {
    margin-left:10px;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 2s linear;
}

.weather{
    position: absolute;
    bottom: 1.5%;
    right: 1.5%;
}
